<p [ngClass]="estilo">comp-atributos works!</p>
<button (click)="trocar()">Troca</button>
<h1 [ngStyle]="{ background: corFundo, color: corDaFonte }">Curso Angular</h1>

<ng-content select="h2,p"></ng-content>

<h1>Lista de compras</h1>
<p>Adicione um item</p>
<input type="text" [(ngModel)]="item" />
<button (click)="adicionarLista()">Adicionar</button>

<ul>
  <li *ngFor="let item of lista">{{ item }}</li>
</ul>
<p>{{ item }}</p>

<ng-template [ngIf]="true">
  <a href="#">Finalizar Compra</a>
</ng-template>

<ng-template [ngIf]="isEnableBlock">
  <a href="#">Adicionar Compra</a>
</ng-template>
